body{
    position: relative;
    background-color: #ccc;
}

/* HEADER */
header{
    position: absolute;
    background-color: #333;
    width: 100%;
}

header a{
    text-decoration: none;
    color: #ccc;
}

nav li h2{
    background-color: red;
    padding: 0 10px;
}

nav li h2 a{
    color: white;
    font-style: italic;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}



/* MAIN */
main{
    position: absolute;
    background-color: #eee;
    margin: 115px 150px 0;
}

section{
    position: relative;
    margin-top: 0px;
}

.news{
    position: absolute;
    background-color: #ddd;
    max-width: 250px;

}

.news-item{
    padding: 5px 10px;
    margin: 5px 0;
}

article{
    margin-left: 250px;
    padding: 0 20px;
}





/* FOOTER */
footer{
    position: absolute;
    margin-left: 50%;
    margin-top: 4000px;
}

